p {
    color: red;
        }
main h1 {
    font-size: xx-small;
    font-weight: normal;
}

main p{
    font-size: large;
    font-weight: bold;
    color: rgb(5, 110, 124);
}
main dl{
    font-size: large;
    font-weight: normal;
    color: rgb(121, 11, 146);
}